@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css); /*for g+ and Facebook icons in login UI*/

#sign_in
{
  cursor: pointer;
}

.jumbotron
{
	background: url("../images/home_background.jpg") bottom center no-repeat fixed;
	background-size: cover;
}

.jumbotron-sm /*contact us jumbotron(smaller)*/
{
  padding-bottom: 24px;
}

footer
{
	border-top: 1px dashed #CCCCCC;
	margin-top: 40px;
  bottom: 0;
  background: linear-gradient(rgba(240, 212, 0, 0.45), rgba(0, 0, 0, 0.45)), url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg); /*image and shading in footer*/
}

.footertext
{
  color: #ffffff
}